.App {
  text-align: center;
}

.Vehicle-selector-row {
  display: grid;
  padding: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}
