.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 800px;
  margin: 0 auto;
}

.Vehicle-selector-body {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Vehicle-selector-mode {
  padding: 0.5rem;
  padding-bottom: 0;
}

.Vehicle-selector-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .Vehicle-selector-row {
    grid-template-columns: 1fr;
  }
}
